.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid #0f0f0f;
}

.header-logo img{
    width: 110px;
    height: 110px;
    padding: 10px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-items li{
   margin: 10px;
   font-size: 20px;
}
.body-container{
    
}
.button-container{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: #e3dfdf;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid #0f0f0f;
}
.res-card img{  
    width: 100%;
    height: 50%;
}