body.dark-theme{
 background-color: #474040;
}
body.light-theme{
  background-color: #ffff;
 }
.header-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid #0f0f0f;
}

.header-logo img{
    width: 110px;
    height: 110px;
    padding: 10px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-items li{
   margin: 10px;
   font-size: 20px;
}
.body-container{
    
}
.button-container{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    padding: 5px;
    margin: 10px;
    background-color: #e3dfdf;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid #0f0f0f;
}
.res-card img{  
    width: 100%;
    height: 50%;
}

/* Shimmer ui  */

/* shimmer effect inside cards */
.shimmer-card {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-image {
    width: 100%;
    height: 300px; /* match actual img height roughly */
    background: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .shimmer-text {
    height: 12px;
    background: #e0e0e0;
    border-radius: 4px;
    margin-bottom: 6px;
  }
  
  .shimmer-text-short {
    width: 40%;
  }
  
  .shimmer-text-medium {
    width: 60%;
  }
  
  .shimmer-text-long {
    width: 80%;
  }
  
  .shimmer-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 1.2s infinite;
  }
  
  @keyframes shimmer {
    0% {
      left: -150px;
    }
    100% {
      left: 100%;
    }
  }
  .search-button{
    margin: 0 10px;
  }